<!DOCTYPE html>
<html ng-app="noti" ng-controller="notCrtl">
  <head>
    <script src="/files/angular_min.js">
        </script>
    <script src="/files/angular_cookies_min.js">

    </script>
    <script src="./javascripts/noti.js">
    </script>
    <link rel="stylesheet" href="/files/bootstrap_min.css" >
    <script src="/files/jquery_slim_min.js" ></script>
<script src="/files/umd_popper_min.js" ></script>
<script src="files/bootstrap_min.js" ></script>
  <meta charset="utf-8">
    <title></title>
  </head>
  <body >
    <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Source</th>
      <th scope="col">Text</th>
      <th scope="col">click to check</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in uniquenote">
      <!-- <th scope="row"></th> -->
      <td>{{$index +1}}</td>
      <td>{{item.name}}</td>
      <td>{{item.text}}</td>
      <td><button type="button" ng-click="action3(item)" class="btn btn-primary" name="button">+ Open Chat</button></td>
    </tr>

  </tbody>
</table>








  </body>
</html>
